.nav{
   max-width: 100vw;
   height: 20vh;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 1000;
   
   padding: 5rem 20rem 0 15rem;

   &__wrapper{
      display:flex;
      justify-content:space-around; 
      
      &__logo{
         margin-bottom: 5rem;
      }
      &__top{
         display:flex;
         justify-content: space-around;
         margin-left: 60rem;
         list-style-type: none;

         & li{
            margin-left: 6rem;
            margin-top: 1rem;

            & a{
               text-decoration:none;
               color: #fff;
            }
         }

         &--button{
            letter-spacing: -.5px;
            font-size: 1.6rem;
            border: none;
            border-radius: 10px;
            padding: .5rem 2rem;
            height: 5rem;
            font-weight: bold;
            margin: 0 0 2rem 6rem;

            & a {
               text-decoration:none;
               color: #00239E;
            }
         }

         &__item{
            &--active{
               border-bottom: 1px solid white;
            }
         }
      }
   }
   
}